
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div id="flash">
  <a class="close" data-dismiss="alert">&#215;</a>
  <p>
    <%= flash[:success] unless flash[:success].blank? %>
    <%= flash[:error] unless flash[:error].blank? %>
  </p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').remove();
    }, 5000);
  })
</script>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
  <div id = "notifications-container">
    <%= render 'modals_and_notifications'%>
  </div>

  <%= render partial: "layouts/flash_messages", flash: flash %>
  <%= render 'layouts/footer' %>

</div>
</body>
</html>